<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Restablecer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom ion-padding-top">
    <ion-icon name="key-outline" style="font-size: 80px; color: var(--ion-color-success);"></ion-icon>
    <h3>Nueva Contraseña</h3>
    <p class="ion-text-muted">Crea una clave segura para tu cuenta</p>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-item lines="full" class="ion-margin-bottom">
        <ion-label position="stacked">Nueva Contraseña</ion-label>
        <ion-input [(ngModel)]="newPassword" type="password"></ion-input>
      </ion-item>

      <ion-item lines="full" class="ion-margin-bottom">
        <ion-label position="stacked">Confirmar Contraseña</ion-label>
        <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" color="success" (click)="cambiarContrasena()" class="ion-margin-top" shape="round">
        Actualizar Contraseña
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>